<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folio.X</title>
    <link rel="stylesheet" href="./static/css/intro.css">
    <link rel="stylesheet" href="./static/css/common.css">

</head>
<body>
   <form class="container" action="/About" method="get">
    <div class="folio">
    <span>F</span>
    <span>o</span>
    <span>l</span>
    <span>i</span>
    <span>o</span>
    <span>.</span>
    <span>X</span>
    </div>
    <div class="slogan">
        Where your future takes shape
    </div>
    <div class="ring"></div>
    <div class="">
        <button class="button">Folio.X</button>
    </div>
   </form>
<script src="./static/js/intro.js"></script>
 <script src="./static/js/block.js"></script>
</body>
</html>